.ShowPassword {
  font-size: 20px;
  text-align: right;
  width: 247px;
  height: 100px;
  outline: none;
  border: 1px solid gray;
  padding: 0 10px;
  margin-left: 39%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.blue {
  background-color: #9ceeae;
  border: 1px solid #0e7e3c;
}
.red {
  background-color: red;
  border: 1px solid rosybrown;
}

